<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="description">This site was created by Ismael Lima Rocha. It uses data from mapbox.com and wheatherstack API. The goal of the project is to build a website in which you can see wheather information about a specific place.</p>
        <img class="portrait" src="img/mandalorian.jpg">
    </div>

    {{>footer}}
</body>

</html>